body {
      
    font-family: sans-serif;
    padding: 10px;
    
    }


.container-fluid{
    margin: 20px;
}

@media (min-width: 500px) {
    h3 {
        
        color: maroon;
    }
}
@media (max-width: 499px) {
    h3 {
        color:rgb(150, 22, 22);
        
    }
}
@media (min-width: 500px) {
    .side, .side2 {
        width: 49%;
    }
}
@media (max-width: 499px) {
    .side, .side2 {
        width: 100%;
    }
}
img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    
    opacity: 1;
}


.side {
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    
    
    
    position: relative;
    

}
.side2 {
    padding-left: 10px;
    padding-right: 10px;
    float: right;
    
    position: relative; 

}
h4 {
    color: #060e35;
    padding:10px;
    margin-top: 40px;
    text-decoration: underline;
    
    text-align: center;
}



.form-group input[type='email'], .form-group input[type='text'], .form-group input[type='password'] {
    border: 0;
    background: none;
    display: block;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    height: 50px;
    outline: none;
    color: #060e35;
    border-radius: 20px;
    transition: 0.25s;
    position:relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);  
}

.form-group input[type='email']:focus, .form-group input[type='text']:focus, .form-group input[type='password']:focus{
    width: 250px;
    border: 2px solid #060e35;
}

.form-group input[type='submit']{
    border:0;
    background: #060e35;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #060e35;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s; 
    cursor: pointer;
    width: 38%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
.form-group input[type='submit']:hover{
    background: white;
    color:#060e35;
    width: 200px;
}

.form-group h6{
    text-align: center;
    
    display: block;
    text-decoration: none;
}

.form-group h6 a{
    color: rgb(85, 6, 68);
    
    font-size: 13px;
}
.form-group h6 a:hover{
    cursor:pointer;
    color: rgb(53, 3, 42);
    font-size: 13px;
}

.form-check {
    display: block;
    text-align: center;
    
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    border-radius: 10px;
    top: 100%;
}
.form-check:focus {
    display: block;
    border: 1px solid #07124b;
}

.alert-dark, .alert-info, .alert-warning {
    display: block;
    text-align: center;
    width: 300px;
    
    margin: 5px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    border-radius: 10px;
    
}