<body>
  
  <div class='container-fluid'>
    <div class='side'>
        <img src='https://userscontent2.emaze.com/images/93b859f2-0037-49f8-af19-246cb1652f28/eb2ed28ab7b4d5fb653164394796a227.jpg'
        alt='Logging in'>
    </div>
    <div class='side2'>
    <h4>Login to continue  <i class="fa fa-sign-in" aria-hidden="true"></i></h4>
    <div><small class ='alert alert-info' role='alert'> {{ feedbk }}</small></div>
    <form (ngSubmit)="onLoginSubmit()">
        
      <div class='form-group'>
        <input type='email' class='form-control' placeholder='email'  #email="ngModel" pattern="[^@]+@[^@]+\.[a-zA-Z]{1,}" required [class.is-invalid]="email.invalid && email.touched" name = 'username'  [(ngModel)]='scrumUserLoginData.email' >
          <div *ngIf="email.errors && (email.invalid && email.touched)">
            <small class='alert alert-info' role='alert' *ngIf="email.errors.required"><strong>Warning! &emsp; &emsp;</strong> Email is required</small>
            <small class='alert alert-dark' role='alert' *ngIf='email.errors.pattern'><strong>Listen!&emsp; &emsp;</strong> Email must contain an '@' and a domain</small>
          </div>
      </div>

      <div class='form-group'>
        <input type='password' class='form-control' placeholder = 'password' pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[.,!@#\$%\^&?\*]).{8,15}" required #password="ngModel" name = 'password' [class.is-invalid]="password.invalid && password.touched" [(ngModel)]='scrumUserLoginData.password'>
        <div *ngIf="password.errors && (password.invalid && password.touched)">
          <small class='alert alert-info' role='alert' *ngIf="password.errors.required"><strong>Listen! &emsp; &emsp;</strong> Password is required</small>
          <small class='alert alert-dark' role='alert' *ngIf='password.errors.pattern'><strong>Warning! &emsp; &emsp;</strong> Password should be 8 - 15 characters long and must contain a number and a special character</small> 
        </div>
      </div>

      <div class='form-group'>
        <input type='text' name='project' class='form-control' #project="ngModel" placeholder='project name' [(ngModel)]='scrumUserLoginData.project'>
      </div>


      <div class='form-check mb-3'>
          <input class='form-check-input' type='checkbox'>
          <label class="form-check-label">Remember me</label>
      </div>

      <div class='form-group'>
        <input type='submit' name='submit' value='Login' class='fa fa-angle-double-right'>
      </div>
      <div class='form-group'>
      <h6>Do not have an account? <a routerLink = '/signup'><b> | Sign up here</b></a></h6>
    </div>
    </form>
  </div>
    
</div>

</body>