
<body>

  <div class='container-fluid'>
    <div class='side2'>
    <h3>Chatscrum</h3>
        <p>What it does: </p>
        <ul>
          <li> Visual Indication of <b>Form Field Validity</b> and Displaying Error Messages.</li>
          <li>  Posting Form Data to a Server</li>
          <li>  Routing and <b>Navigation</b>.</li>
          <li>  Connecting to a Backend Login API</li>
        </ul>
        <p> By signing up for and by signing into this service you accept our:</p>
        <ul>
          <a href='#'><li>  Terms and conditions</li></a>
          <a href='#'><li>  Privacy policy and injuction</li></a>
        </ul>
    </div>
    <div class='side'>
    <h4>Account Sign Up <i class="fa fa-user-plus" aria-hidden="true"></i></h4>
    <div><small class ='alert alert-info' role='alert'> {{ feedbk }}</small></div>
    <form #userSignupForm='ngForm' novalidate (ngSubmit)="onSubmit()">
      
      <div class='form-group'>
      
        <input type='email' class='form-control' placeholder='email'  #email="ngModel" pattern="[^@]+@[^@]+\.[a-zA-Z]{1,}" required [class.is-invalid]="email.invalid && email.touched" name = 'email'  [(ngModel)]='scrumUserModel.email' required />
        
        
        <div *ngIf="email.errors && (email.invalid && email.touched)">
          <small class='alert alert-info' role='alert' *ngIf="email.errors.required"><strong>Warning! &emsp; &emsp;</strong> Email is required</small>
          <small class='alert alert-info' role='alert' *ngIf='email.errors.pattern'><strong>Listen!&emsp; &emsp;</strong> Email must contain an '@' and a domain</small>
        </div>
        
      </div>

      <div class='form-group'>
        
        <input type='text' class='form-control' placeholder='full name' required #fullname="ngModel" [class.is-invalid]="fullname.invalid && fullname.touched" name = 'fullname' [(ngModel)]='scrumUserModel.fullname'>
      </div>

      <div class='form-group'>
           
        <input type='password' class='form-control' placeholder='password' required #password="ngModel" pattern="(?=.*\d)(?=.*[a-zA-Z])(?=.*[.,!@#\$%\^&?\*]).{8,15}" name = 'password' [class.is-invalid]="password.invalid && password.touched"  [(ngModel)]='scrumUserModel.password'>
        <div *ngIf="password.errors && (password.invalid && password.touched)">
          <small class='alert alert-dark' role='alert' *ngIf="password.errors.required"><strong>Warning!&emsp; &emsp;</strong> Password is required</small>
          <small class='alert alert-dark' role='alert' *ngIf='password.errors.pattern'><strong>Warning!&emsp; &emsp;</strong> Password should be 8 - 15 characters long and must contain a number and a special character</small>
        </div>
      </div>

      

      <div class='form-group'>
          
        <input type='text' class='form-control' placeholder='project name' name='projname' [(ngModel)]='scrumUserModel.projname'>
      </div>

      <div class='form-group'>
        
        <select class='custom-select' name='usertype'  [(ngModel)]='scrumUserModel.usertype'>      
          <option value='' disabled selected hidden>user type...</option>
          <option *ngFor='let types of usertype'>{{ types }}</option>
        </select>
      </div>

      <div class='form-group'>
      <button [disabled]='userSignupForm.invalid' class='btn btn-primary' type='submit'>Sign up &emsp;<i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
      </div>
      <div class='form-group'>
        <h6>Already have an account? <a routerLink = '/login'><b> | Login here</b></a></h6>
        </div>
    </form>
  </div> 
    
  </div>

</body>
