body {
      
    font-family: sans-serif;
    padding: 10px;
    
    
    }


    .container-fluid{
        margin: 20px;
    }
    
    @media (min-width: 500px) {
        h3 {
            
            color: maroon;
        }
    }
    @media (max-width: 499px) {
        h3 {
            color:rgb(150, 22, 22);
            
        }
    }
    @media (min-width: 500px) {
        .side, .side2 {
            width: 49%;
        }
    }
    @media (max-width: 499px) {
        .side, .side2 {
            width: 100%;
        }
    }
    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
        color: maroon;
        font-weight: bold;
    }
    li {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
        font-style: italic;
        color: #060e35;
    }
    h3 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
    
    }
    .side {
        
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        margin-top: 10px;
        
        position: relative;
        
    
    }
    .side2 {
        padding-left: 10px;
        padding-right: 10px;
        float: right;
        
        position: relative; 
    
    }

h4 {
    color: rgb(85, 6, 68);
    padding:10px;
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}
.text-danger {
    text-align: center;
}


.form-group input[type='email'], .form-group input[type='text'], .form-group input[type='password'] {
    
    background: none;
    display: block;
    width: 60%;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    height: 50px;
    outline: none;
    color: rgb(85, 6, 68);
    border-radius: 20px;
    transition: 0.25s;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.6);  
}
 .custom-select {
    background: none;
    display: block;
    width: 60%;
    margin: auto;
    text-align-last: center;
    border: 2px solid white;
    padding: 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    height: 50px;
    outline: none;
    color:rgb(85, 6, 68);
    border-radius: 20px;
    transition: 0.25s;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.6);
}

select {  text-align-last:center; }


.form-group input[type='email']:focus, .form-group input[type='text']:focus, .form-group input[type='password']:focus, .custom-select:focus{
    width: 250px;
    border: 2px solid rgb(85, 6, 68);
}
.form-group [type='submit']{
    border:0;
    background:rgb(85, 6, 68);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(85, 6, 68);
    padding: 14px 10px;
    outline: none;
    color: white;
    height: 50px;
    border-radius: 20px;
    transition: 0.25s; 
    cursor: pointer;
    width: 38%;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.6);
}
.form-group [type='submit']:hover{
    background: white;
    color: rgb(85, 6, 68);
    width: 180px;
}
.form-group h6{
    text-align: center;
    display: block;
    text-decoration: none;
    
}

.form-group h6 a{
    color: rgb(85, 6, 68);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-group h6 a:hover{
    cursor:pointer;
    
}

.alert-dark, .alert-info, .alert-warning {
    display: block;
    text-align: center;
    width: 300px;
    
    margin: 5px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    border-radius: 10px;
    
}
h5 {
    display: block;
    text-align: center;
    
    margin: 5px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
button [disabled]{
    background-color: rgb(85, 6, 68);
}
